@use "sass:map";

$primary-font: "Geologica Variable", sans-serif;
$accent-font: "Potter", cursive;

$font-weights: (
  exrtra-light: 200,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
);

@function font-weight($weight-name) {
  @return map.get($font-weights, $weight-name);
}
