@import "../../../scss/settings";

.btn {
  all: unset;
  outline: revert;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 14px 28px;
  border: 1px solid;
  border-image-slice: 1;
  text-transform: uppercase;
  transition: all 200ms ease-out;
  backdrop-filter: blur(2px);
  font-weight: font-weight(bold);
  font-size: var(--14px);
  min-height: 52px;

  & svg {
    flex-shrink: 0;
  }
}

.secondary {
  border-image-source: linear-gradient(94.84deg, #a78047 -0.28%, #a78047 -0.27%, #fff5e5 99.72%);
  border-image-slice: 1;
  background-color: color(buttons, brown-20);
  color: color(buttons, brown-100);

  &:hover,
  &:active {
    box-shadow: 0 0 8px hsla(40deg 100% 90% / 80%);
  }

  &:active {
    background-color: hsla(40deg 43% 49% / 40%);
  }

  &:disabled {
    background-color: color(buttons, disabled-bg);
    color: color(buttons, disabled);
    border: 1px solid color(buttons, disabled);
    cursor: default;

    &:hover,
    &:active {
      box-shadow: none;
      background-color: color(buttons, disabled-bg);
    }
  }
}
