@import "./settings/typography";
@import "./settings/colors";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: $primary-font;
  font-weight: font-weight(light);
  color: color(text, beige);
  background-color: color(background, dark-blue);
}

@font-face {
  font-family: Potter;
  font-style: normal;
  font-weight: 400;
  src:
    url("../assets/fonts/HarryPotter.woff2") format("woff2"),
    url("../assets/fonts/HarryPotter.ttf") format("ttf");
}
